:root {
  --light-green: #2cd113;
  --dark-green: #184711;
  --base-font-size: 20px;
}

body {
  background-color: var(--dark-green);
  color: var(--light-green);
  font-size: var(--base-font-size);
  box-sizing: border-box;
}

.gameContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

@media screen and (max-width: 800px) {
  .gameContainer {
    flex-direction: column;
  }
}

.menuButton {
  color: var(--light-green);
  background-color: var(--dark-green);
  border: 2px solid var(--light-green);
  padding: 1em;
}

#displayScreen {
  margin: 0 16px;
  padding: 1em 2em;
  border: 2px solid var(--light-green);
  width: 50%;
  height: 90vh;
  font-family: monospace;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#themeScreen {
  flex: 1 1;
  border: 2px solid var(--light-green);
  font-size: 12px;
  padding: 16px;
}

#terminalScreen {
  flex: 1 0 60%;
  border: 2px solid var(--light-green);
  padding: 16px;
}

.cmdline {
  border: none;
  border-bottom: 2px solid var(--light-green);
  outline: none;
  background-color: var(--dark-green);
  color: var(--light-green);
  font-family: monospace;
  font-size: 20px;
}

.terminal {
  font-family: monospace;
}
