:root {
  --light-green: #2cd113;
  --dark-green: #184711;
}

body {
  background-color: var(--dark-green);
  color: var(--light-green);
  font-size: 24px;
}

.menuButton {
  color: var(--light-green);
  background-color: var(--dark-green);
  border: 2px solid var(--light-green);
  padding: 1em;
}

.dataDisplay {
  margin: 0 0 0 16px;
  padding: 1em 2em;
  border: 2px solid var(--light-green);
}

.cmdline {
  border: none;
  border-bottom: 2px solid var(--light-green);
  outline: none;
  background-color: var(--dark-green);
  color: var(--light-green);
  font-family: monospace;
  font-size: 24px;
}

.terminal {
  font-family: monospace;
}
